
{% extends "base.html" %}
{% load static  %}

{% load compress %}
{% block title %}
Gaming Tournament - Privacy Policy
{% endblock %}

{% block css_file %}
{% compress css %}
<link rel="stylesheet" href="{% static 'css/privacy.css' %}">
{% endcompress css %}

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

{% endblock %}


{% block css %}
<style>
   .privacy-boxs{

    max-width: 90%;
    margin: auto;margin-top: 12%;
   }
   @media (max-width:1000px) {
    .privacy-boxs{
    margin: auto;
    margin-top: 20%;
   }
   }
   @media (max-width: 600px) {
    .privacy-boxs {
        margin: auto;
        margin-top: 35%;
    }
}
</style>
{% endblock %}

{% block content %}
<section  class="privacy-boxs">


 
    <div class="privacy-container">
        <h1>Terms & Conditions</h1>
    
        <section>
            <h2>1. Introduction</h2>
            <p>Welcome to <strong>Bettle Champion</strong>. By accessing or using our platform, you agree to comply with these Terms and Conditions. These terms govern your participation in tournaments and use of all services provided by our platform.
            </p>
        </section>
    
        <section>
            <h2>2. User Accounts</h2>
            <p>Users must register to participate in tournaments. You are responsible for maintaining the confidentiality of your account and password and for restricting access to your account.
                p>
        </section>
    
        <section>
            <h2>3. How We Use Your Information</h2>
            <p>Each tournament will have its own specific set of rules, which must be adhered to by all participants. Failure to comply may result in disqualification or suspension of your account.</p>
        </section>
    
        <section>
            <h2>4. Entry Fees & Prizes</h2>
            <p>All entry fees are non-refundable, unless stated otherwise in our Cancellation & Refund Policy. Prizes will be awarded as per the details mentioned for each tournament.</p>
        </section>
    
        <section>
            <h2>5. Fair Play & Conduct</h2>
            <p>Cheating, hacking, or any form of dishonest behavior will not be tolerated. Players found engaging in these activities will be banned from the platform.</p>
        </section>
    
        <section>
            <h2>6. Liability</h2>
            <p><strong>Bettle Champion</strong> is not responsible for any technical issues, such as game server outages or lag, during tournaments. The platform provides the tournaments "as-is," and participation is at your own risk.</p>
        </section>
    
        <section>
            <h2>7. Amendments</h2>
            <p>We reserve the right to amend these terms at any time. Continued use of the platform constitutes acceptance of any changes.</p>
        </section>
    
    </div>

</section>

  
{% endblock %}
